.client-reviews {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: var(--base-100);
}

.client-reviews .review-card {
  position: relative;
  width: 100%;
  height: 100svh;
  padding: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

.client-reviews .review-card-container {
  position: relative;
  width: 60%;
  height: 50%;
  display: flex;
  padding: 2rem;
  border-radius: 1rem;
  will-change: transform;
}

.client-reviews #review-card-1 {
  background-color: var(--base-200);
}

.client-reviews #review-card-2 {
  background-color: var(--base-400);
  color: var(--base-100);
}

.client-reviews #review-card-3 {
  background-color: var(--accent-1);
  color: var(--base-100);
}

.client-reviews #review-card-4 {
  background-color: var(--base-200);
}

.client-reviews #review-card-5 {
  background-color: var(--base-500);
}

.client-reviews #review-card-6 {
  background-color: var(--base-400);
  color: var(--base-100);
}

.client-reviews .review-card-content-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
}

.client-reviews h3.review-card-text {
  font-size: 3rem;
  letter-spacing: 0;
}

.client-reviews p.sm.review-card-client-company {
  color: var(--base-100);
  opacity: 0.4;
}

.client-reviews #review-card-1 p.sm.review-card-client-company,
.client-reviews #review-card-4 p.sm.review-card-client-company,
.client-reviews #review-card-5 p.sm.review-card-client-company {
  color: var(--base-400);
}

@media (max-width: 1000px) {
  .client-reviews .review-card-container {
    flex-direction: column;
    gap: 0;
    width: 90%;
    height: 100%;
    padding: 1.25rem;
  }

  .client-reviews .review-card-content-wrapper {
    width: 100%;
    justify-content: center;
    gap: 2rem;
  }

  .client-reviews .review-card-index {
    flex: 1;
  }

  .client-reviews .review-card-content {
    height: 100%;
  }

  .client-reviews h3.review-card-text {
    font-size: 2rem;
  }

  .client-reviews .review-card {
    padding: 1.25rem 0 0 0;
  }
}
