.sample-project-page {
  background-color: var(--base-100);
}

.sample-project-page h3 {
  font-size: 4rem;
}

.sample-project-page .project-header {
  width: 100vw;
  height: 50svh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  gap: 1.5em;
  padding-bottom: 3em;
  text-align: center;
}

.sample-project-page .project-header p {
  margin-bottom: 2rem;
}

.sample-project-page .project-banner-img {
  position: relative;
  width: 100%;
  height: 100svh;
  overflow: hidden;
}

.sample-project-page img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.sample-project-page .project-banner-img-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.sample-project-page .project-details {
  width: 55%;
  padding: 8rem 1rem 2rem 1rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 4rem;
  margin-bottom: 4rem;
}

.sample-project-page .details {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 4rem;
}

.sample-project-page .project-images {
  background-color: var(--fg);
  color: var(--bg);
  padding: 4em 2em;
}

.sample-project-page .project-images-container {
  width: 75%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.sample-project-page .project-img {
  position: relative;
  width: 100%;
  height: 80svh;
  overflow: hidden;
  border-radius: 1rem;
  overflow: hidden;
}

.sample-project-page .project-img-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.sample-project-page .next-project {
  width: 100vw;
  height: 100svh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5em;
  text-align: center;
}

.sample-project-page .next-project-img {
  position: relative;
  width: 35%;
  height: 400px;
  overflow: hidden;
  border-radius: 1rem;
  overflow: hidden;
}

.sample-project-page .next-project-img-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media (max-width: 1000px) {
  .sample-project-page .project-header {
    padding: 1.25em 1.25em 3em 1.25em;
  }

  .sample-project-page .project-details {
    width: 100%;
    padding: 6em 1.25em;
    gap: 3em;
  }

  .sample-project-page h3 {
    font-size: 2rem;
  }

  .sample-project-page .project-images {
    padding: 4em 1.25em;
  }

  .sample-project-page .project-images-container {
    width: 100%;
    gap: 1.25em;
  }

  .sample-project-page .next-project {
    padding: 1.25em;
  }

  .sample-project-page .next-project-img {
    width: 75%;
  }

  .sample-project-page .project-img {
    height: 65svh;
  }
}
